/*header styling */
.header-div{
    width: 100dvw;
    
}
nav{
    display:  flex;
    justify-content:  space-between;
    margin-top: 0;
    width: inherit;
    background-color: rgb(124, 74, 27);
    padding: 4px;
    color: #fff;
}

nav ul li{
    display: inline;
    text-decoration: none;
    margin: 2px;
    
}

ul li a{
    color: #fff;
    text-decoration: none;
}

 li a :hover{
    color: #ff0000;
    text-decoration: underline;
}

/*home styling */

/*footer styling */
.footer{
    background:#133509;
    display: flex;
    justify-content: space-between;
    
}